// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/assets/bootstrap5/_variables.scss, paste it here and edit the value.


// Overwrite Bootstrap variables with standard Sass values
$primary: #007bff; // Bootstrap primary blue
$secondary: #6c757d; // Bootstrap secondary gray
$accent: #28a745; // Bootstrap success green

// Global link color
$link-color: $primary; // Default link color
